{% extends "applogin/index.html" %}

{% block contenido %}
<!-- Start your project here -->
<div class="container my-5">
    <div class="row text-justify">
        <div class="col-md-5">
            <h3>Política y privacidad</h3>

            <h4>Quienes Somos</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore enim quod maxime doloremque! Magni</p>

            <h4>Qué datos personales recopilamos y por qué los recopilamos</h4>

            <h4>Comentarios</h4>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit earum consequuntur dolor eveniet exercitationem, soluta veniam porro molestiae in cumque veritatis iste praesentium saepe illo fugit, alias, mollitia maiores pariatur!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id maxime dolorum ullam eveniet possimus! Repellendus nam nobis voluptas mollitia nemo aliquid incidunt aliquam exercitationem, expedita voluptates amet, minima quod similique?</p>

            <h4>Media</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio assumenda asperiores ea dignissimos esse ipsa. Asperiores, adipisci laudantium? Saepe qui repellat inventore, iste ex magni impedit quisquam ipsum facilis?</p>

            <h4>Cuantos tiempo conservamos tus datos</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, officia. At porro aut totam ab commodi nihil vitae officiis esse laboriosam. Totam harum hic facere molestiae quae autem laborum obcaecati.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi perspiciatis ut enim architecto illo reprehenderit quaerat vel magni laudantium cupiditate id sit tempore nulla eligendi saepe ad, quis, voluptas vitae!</p>

            <h4>Qué derechos tienes sobres tus datos</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nisi, repudiandae magnam, ducimus sapiente eos quas est ea ratione architecto tempora officia labore vitae earum enim possimus dolorum illum culpa.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">

            <h4>Cookies</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptate veniam iure. Modi non quas corrupti incidunt eum error veritatis ratione. Dolorem optio assumenda provident pariatur praesentium excepturi neque? Ducimus.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit minus tempore necessitatibus officia iure blanditiis libero consectetur? Animi, ab veniam suscipit error, velit, ipsum atque repellat quibusdam omnis veritatis voluptatibus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptate veniam iure. Modi non quas corrupti incidunt eum error veritatis ratione. Dolorem optio assumenda provident pariatur praesentium excepturi neque? Ducimus.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit minus tempore necessitatibus officia iure blanditiis libero consectetur? Animi, ab veniam suscipit error, velit, ipsum atque repellat quibusdam omnis veritatis voluptatibus!</p>

            <h4>Dónde enviamos tus datos</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloremque accusantium molestiae expedita nulla distinctio beatae error sit cumque, labore enim provident similique delectus vel adipisci tempore ex quisquam nam.</p>

            <div class="text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/GDJ-Global-Peace.svg/1200px-GDJ-Global-Peace.svg.png"
                    class="img-fluid " alt="hoverable">
            </div>
        </div>
    </div>
</div>
<!-- End your project here -->
{% endblock contenido %}


{% block pie_pagina %}
{% endblock pie_pagina %}

{% block js_page %}
{% endblock js_page %}
