{% extends "applogin/index.html" %}

{% block contenido %}
<!-- Start your project here -->
<div class="container my-5">
    <div class="row text-justify ">
        <div class="col-md-6 mb-3 pr-5">

            <div class="text-center">
                <h4>Cultura Corporativa</h4>
                <img src="https://assets.ltkcontent.com/images/15833/30287.CoreValues_0066f46bde.jpg"
                    class="img-fluid rounded z-depth-1 my-3 w-100" alt="hoverable">
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore enim quod maxime doloremque! Magni perspiciatis ullam consequuntur fuga, quas ex culpa sed doloribus laboriosam reiciendis, quod, pariatur exercitationem maxime minus!</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem illo consequuntur harum, rem eveniet consequatur repellat dolor obcaecati fuga libero. Animi amet ratione, asperiores ducimus modi temporibus quaerat officiis reprehenderit?</p>

        </div>
        <div class="col-md-6 pl-5 ">
            <h4>Propósito de transformación masiva</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

            <h4>Estado de la misión</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem illo consequuntur harum, rem eveniet consequatur repellat dolor obcaecati fuga libero.</p>

            <h4>Objetivo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis officia provident in! Cupiditate aspernatur, eligendi unde, architecto quibusdam quam voluptatem dignissimos aliquid, voluptate ratione consequatur officiis vero explicabo.</p>

            <h4>Problema Complejo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis officia provident in! Cupiditate aspernatur, eligendi unde, architecto quibusdam quam voluptatem dignissimos aliquid, voluptate ratione consequatur officiis vero explicabo.</p>

            <img src="https://deportesostenible.files.wordpress.com/2017/03/sdgs-20301.jpg"
                    class="img-fluid rounded z-depth-1 my-3 h-25 w-100" alt="hoverable">                
        </div>
    </div>
</div>
<!-- End your project here -->
{% endblock contenido %}


{% block pie_pagina %}
{% endblock pie_pagina %}

{% block js_page %}
{% endblock js_page %}