{% extends 'applogin/index.html' %}

{% block cabecera_inicio %}
<!-- home Navbar-->
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link text-muted" href="#!">{{ user.first_name | title }} {{ user.last_name | title }} Bienvenido.</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted" href="#!">Ayuda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" href="{% url 'applogin:logout' %}">Cerrar Sesión</a>
    </li>
</ul>
<!--/. home Navbar-->
{% endblock cabecera_inicio %}

{% block contenido %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Responsive Hover Table</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            {% if not obj %}
                <div class="alert alert-info">No hay usuarios registrados</div>
            {% else %}
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>F. Nacimiento</th>
                    <th>F. Acceso</th>
                </tr> 
                </thead>
                <tbody>
                    {% for item in obj %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.dni }}</td>
                        <td>{{ item.first_name }}</td>
                        <td>{{ item.last_name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.date_birth | date:"d/m/Y" }}</td>
                        <td>{{ item.date_joined | date:"d/m/Y H:i:s" }}</td>
                        <td>
                            <a href="#" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                            <a href="#" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
          </table>
         <!-- {% endif %}-->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  {% endblock contenido %}

  {% block js_page %}
  {% endblock js_page %}