{% extends "applogin/index.html" %}

{% block cabecera_inicio %}
{% endblock cabecera_inicio %}

{% block cabecera_opciones %}
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">LOGO</a>
</nav>
{% endblock cabecera_opciones %}

{% block contenido %}
<!-- Llamada a la ventana modal de inicio sesion -->
<div class="modal-dialog" role="document">
    <form method="POST">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Inicio de Sesión</h4>
            </div>
            <div class="modal-body mx-3">
                <!--<small class ="text-danger">
                    {% if messages %}
                        {% for m in messages %}
                            {{ m }} <br>
                        {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    {{ error|escape }} {{ field.name }}<br>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                {{ error|escape }} <br>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                </small>-->
                <div class="md-form mb-4">
                    <input type="email" name="username" id="id_username" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">E-mail</label>
                </div>

                <div class="md-form mb-4">
                    <input type="password" name="password" id="id_password" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Contraseña</label>
                </div>
                <div class="d-flex justify-content-around mb-4">
                    <div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Recuerdame</label>
                        </div>
                    </div>
                    <div>
                        <a data-toggle="modal" data-target="#modalRegisterForm" href="#">¿Olvidaste la contraseña? Haz clic aquí</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn blue-gradient btn-rounded z-depth-1a">Iniciar sesión</button>
            </div>
            <div class="text-center my-2">
                <p>o inicia sesión con:</p>
                <a href="{% url 'social:begin' 'facebook' %}" type="button" class="btn btn-white btn-outline-info z-depth-1a light-blue-text mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a type="button" class="btn btn-white btn-outline-info z-depth-1a light-blue-text mx-2">
                    <i class="fab fa-google"></i>
                </a>
            </div>
        </div>
    </form>
</div>
<!-- Fin llamada ventana modal -->
{% endblock contenido %}

{% block inicio_sesion %}
{% endblock inicio_sesion %}

{% block registro %}
{% endblock registro %}

